a{
    font-size: 1rem;
    color: black;
    font-weight: bold;
    text-decoration: none !important;
    
}

.catagoriLi{
    margin: 0px;
    margin-top: 1rem;
    width: 250px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(26, 26, 26, 0.267);
    padding: 1rem;
    box-shadow: 0px 5px 6px -4px rgb(255, 193, 94);
    cursor: pointer; 
    
}

.catagoriLiSelect{
    margin: 0px;
    margin-top: 1rem;
    width: 250px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(26, 26, 26, 0.267);
    padding: 1rem;

    box-shadow: 0px 5px 6px -4px rgb(255, 193, 94);
    cursor: pointer;     
}

.clickList{
    margin: 0px;
    margin-top: 1rem;
    width: 250px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(26, 26, 26, 0.267);
    padding: 1rem;
    background-color: antiquewhite;
    box-shadow: 0px 5px 6px -4px rgb(255, 193, 94);
    cursor: pointer;  
}

.catagoriLi:hover{
    background-color: antiquewhite;
    color: black;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.24);
    transition: 0.6s;
    
}




