*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    font-size: 10px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    align-items: flex-start;
    
}
.container{
    flex-direction: column;
    max-width: 200px;
    display: flex;
    margin: 1rem;
    cursor: pointer;
    
}

.image img{
    border: 1px solid rgba(0, 0, 0, 0.055);
    max-width: 200px;
    border-radius: 0.5rem;
}

.container .details button{
    display: block;
    margin: 10px auto;
    padding: 10px 30px;    
}

.container .details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end; 
    align-items: flex-start;
    font-size: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 12rem;
    height: 10rem;
    
}

.container button{
    align-self: flex-end;
    box-shadow: 0px 5px 6px -4px rgba(217, 120, 255, 0.918); 
    border: 1px solid rgba(41, 41, 41, 0.164);
    border-radius: 1rem; 
    font-size: 0.7rem;  
    
}

.container button:hover{
    background-color: blanchedalmond;
    transition: 0.4s;
    font-size: 0.9rem;
    border: 1px solid rgba(2, 2, 2, 0.698);
    
}

