

.nav_up{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 5rem;
    box-shadow: 0px 5px 6px -4px rgb(255, 193, 94);
}

.searchConsole{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.nav_up a{
    font-size: 3rem;
    font-family: system-ui;
    color: white;
    text-decoration: none;    
}

.under_box{
    display: flex;
}

.catagori_box{
    margin-left: 1rem;
    display: flex;
}

.basket_icon{
    margin-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.logoClass{
    margin: 0px 20px;
}

.basketNumber{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    right: 2px;
    background-color: rgba(0, 255, 0, 0.376);    
    border:1px solid rgba(0, 255, 0, 0.376);    
    width: 20px;
    border-radius:50%;
    position: relative;
    right: 6px;
    bottom: 6px;
    
    
    
    text-align: center;
}

.shopping-basket{
    font-size: 1rem;
    font-size: 25px;
    fill: white;
}

.nav_right_side{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
}

.BasketDetails{
    backdrop-filter: blur(8px);
    border: 1px solid rgba(165, 165, 165, 0.281);
    background-color: rgba(230, 230, 230, 0.342);
    width: 350px;
    margin-top: 64px;
    position: absolute;
    margin-left: 77%;
    display: flex;    
    flex-direction: column; 
    justify-content: flex-start;
    height: 495px;
    overflow: auto;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62); 
    box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62);      
}



.userProfile{
 
    position: absolute;
}

.userProfileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfileContainer div{
    margin-right: 1rem;    
}

.shop-image img{
    border-radius: 50%;
    width: 55px;
    border: 2px solid #FF9D00;
}



.profileDetails h5{
    color: #FF9D00;
    margin: 0px;
    padding: 0px;
}


.wallet .money-amount{
    background-color:rgb(0, 255, 0);
    padding: 0px 0.7rem;
    border-radius: 0.5rem;
}

.wallet .money-total{
    background-color:rgb(255, 0, 0);
    padding: 0px 0.7rem;
    border-radius: 0.5rem;
}

.wallet .money-summary{
    background-color:rgb(0, 162, 255);
    padding: 0px 0.7rem;
    border-radius: 0.5rem;
}

.wallet .operation-symbol{
 color: white;
 margin: 0px 5px;
}

.wallet h5{
margin: 0px;
padding: 0px;
}

.wallet{
    background-color: rgba(0, 0, 0, 0.137);
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid #2525253a;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-before-user{
    font-size: 1rem;
    color: #FF9D00;
}











@media only screen and (max-width: 1500px) {
    .BasketDetails{
        backdrop-filter: blur(8px);
        border: 1px solid rgba(165, 165, 165, 0.281);
        background-color: rgba(204, 204, 204, 0.568);
        width: 350px;
        margin-top: 70px;
        position: absolute;
        margin-left: 65%;
        display: flex;    
        flex-direction: column; 
        justify-content: flex-start;
        height: 495px;
        overflow: auto;
        padding: 1rem;
        border-bottom-left-radius: 1rem;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62); 
        box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62);      
    }
  }

@media only screen and (max-width: 1260px) {
    .BasketDetails{
        backdrop-filter: blur(8px);
        border: 1px solid rgba(165, 165, 165, 0.281);
        background-color: rgba(204, 204, 204, 0.568);
        width: 350px;
        margin-top: 64px;
        position: absolute;
        margin-left: 65%;
        display: flex;    
        flex-direction: column; 
        justify-content: flex-start;
        height: 495px;
        overflow: auto;
        padding: 1rem;
        border-bottom-left-radius: 1rem;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62); 
        box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62);      
    }
  }

  @media only screen and (max-width: 970px) {
    .BasketDetails{
        backdrop-filter: blur(8px);
        border: 1px solid rgba(165, 165, 165, 0.281);
        background-color: rgba(204, 204, 204, 0.568);
        width: 350px;
        margin-top: 64px;
        position: absolute;
        margin-left: 50%;
        display: flex;    
        flex-direction: column; 
        justify-content: flex-start;
        height: 495px;
        overflow: auto;
        padding: 1rem;
        border-bottom-left-radius: 1rem;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62); 
        box-shadow: 0px 0px 14px 0px rgba(58, 58, 58, 0.62);      
    }
  }
