*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-navbar{    
    background-color: rgb(255, 157, 0);
    
}
.main-navbar ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.main-navbar li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 5rem;
    margin-left: 1.1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.794);
    border-radius: 1rem;


}

.main-navbar li{
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.main-navbar li:hover{
    color: #343A40;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
}